<h1 class="text-center mt-4">Contact me</h1>
<%= form_with(url: ENV['URL'], method: 'POST', class: 'd-flex flex-column col-sm-12') do |form| %>
  <div class="mb-3 d-flex col-sm-12 justify-content-center">
    <%= form.label :full_name, class: 'form-label col-sm-6' do %>
      Full Name:
      <%= form.text_field :full_name, class: 'form-control col-sm-6', placeholder: 'John Doe', required: true %>
    <% end %>
  </div>
  <div class="mb-3 d-flex col-sm-12 justify-content-center">
    <%= form.label :email, class: 'form-label col-sm-6' do %>
      Your email:
      <%= form.email_field :email, class: 'form-control', placeholder: 'example@domain.com', required: true %>
    <% end %>
  </div>
  <div class="mb-3 d-flex col-sm-12 justify-content-center">
    <%= form.label :message, class: 'form-label col-sm-6' do %>
      Your message:
      <%= form.text_area :message, rows:'10', class: 'form-control' %>
    <% end %>
  </div>
  
  <!-- your other form fields go here -->
  
  <div class="mb-3 d-flex col-sm-12 justify-content-center">
    <%= form.submit 'Send', class: 'btn btn-primary' %>
  </div>
<% end %>
